[Unit]
Description=polardb-o universe explorer
After=network.target

[Service]
Type=forking
PIDFile=/run/pdb_ue.pid
ExecStart=/opt/pdb_ue/bin/service.sh start
ExecReload=/opt/pdb_ue/bin/service.sh restart
ExecStop=/opt/pdb_ue/bin/service.sh stop
Restart=always
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
